html, body {
  background-color: #333;
  color: #eee;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

ul, li {
  list-style-type: none;
}

a, a:visited, a:active {
  color: #eee;
}

.menu li {
  font-size: 32pt;
  padding: 70px;
  padding-top: 130px;
  margin: 20px;
  display: inline-block;
  width: 150px;
  height: 120px;
  border: 1px dotted #ddd;
  -moz-border-radius: 15px;
  border-radius: 15px;
  webkit-border-radius: 15px;
}

.menu li .active {
  width: 150px;
  height: 120px;
  border: 2px solid yellow;
  -moz-border-radius: 15px;
  border-radius: 15px;
  webkit-border-radius: 15px;
}