html, body {
  font-size: 112pt;
}



.up {
  top: 25%;
  margin-left: auto;

  margin-right: auto;
}

.down {
  bottom: 25%;
  margin-left: auto;

  margin-right: auto;
}

.left {
  left: 5%;
}

.right {
  right: 95%;
}