html, body {
  font-size: 112pt;
}

.up {
  position: absolute;
  top: 25%;
  left: 48%;
}

.down {
  position: absolute;
  bottom: 25%;
  left: 48%;
}

.left {
  position: absolute;
  top: 40%;
  left: 5%;
}

.right {
  position: absolute;
  top: 40%;
  right: 5%;
}

.select {
  position: absolute;
  top: 40%;
  left: 48%;
}

